body {
    background: #3cffae;
}
.grid_2{
    margin-top: 500px;
    margin-bottom: 100px;
    display: grid;
    display: inline-grid;
    gap: 10px;
    /* grid-template-columns: auto auto;
    grid-template-rows: auto auto; */
    /* width: 400px; */


    grid-template-columns: auto 300px;
    grid-template-rows: 200px 20cqi;
    grid-auto-rows: 100px;
    
    
    grid-auto-flow: column;
    grid-auto-columns: 50px;



    grid-auto-flow: dense;
}
.grid_2 div{
    background-color: cornflowerblue;
    border: #000 solid 5px;
    border-radius: 20px;
    text-align: center;
}